<div layout="column" layout-align="center stretch">

    <!-- progress -->
    <div ng-if="chartCtl.loading" layout="row" layout-align="space-around center" ng-style="{'height':chartCtl.chartHeight}">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- chart -->
    <div ng-if="!chartCtl.loading">
        <nvd3 options='chartCtl.chartOptions' data='chartCtl.chartData'></nvd3>
    </div>

    <!-- controls -->
    <div layout="row" layout-align="center center" ng-if="chartCtl.showControls">
        <div flex></div>

        <!-- information label -->
        <div style="padding-bottom:6px; padding-right:15px;">
            <span>Show data from:</span>
        </div>

        <!-- custom range -->
        <div ng-if="chartCtl.rangeSelector===0">
            <input aria-label="Range start" ng-model="chartCtl.rangeStart">
            <input aria-label="Range end" ng-model="chartCtl.rangeEnd">
        </div>

        <!-- pre-defined ranges -->
        <div>
            <md-select class="md-no-underline" ng-model="chartCtl.rangeSelector" aria-label="Time range selector">
                <md-option value="86400">last day</md-option>
                <md-option value="172800">last 2 days</md-option>
                <md-option value="604800">last week</md-option>
                <md-option value="1209600">last 2 weeks</md-option>
                <md-option value="2678400">last month</md-option>
                <md-option value="7862400">last quarter</md-option>
                <md-option value="15724800">last semester</md-option>
                <md-option value="31449600">last year</md-option>
                <md-option value="0" ng-disabled="true">Custom</md-option>
            </md-select>
        </div>

        <!-- button -->
        <div>
            <md-button class="md-raised md-primary button-raised-icon" ng-click="chartCtl.changeRange()" aria-label="Ok">
                Ok
            </md-button>
        <div>

    </div>

</div>
